#set( $id = $utils.autoId() )

{
  "version" : "2017-02-28",
  "operation" : "PutItem",
  "key" : {
    "id" : $util.dynamodb.toDynamoDBJson($id)
  },
  "attributeValues" : {
    "title" : $util.dynamodb.toDynamoDBJson($context.arguments.input.title),
    "version" : { "N": 1 }
  }
}
